# Database files
db/tobedo.sqlite3
*.sqlite3

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Virtual environments
venv/
venv310/
.venv/
env/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
*.cover
.pytest_cache/

# Logs
*.log

# Environment variables
.env

# OS specific files
.DS_Store
Thumbs.db
